.repo {
  background-color: #F5F6FA;
}

.profile {
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 10px;
}

.profile h2 {
  margin: 0;
  margin-bottom: 10px;
}

.profile img {
  width: 100px;
  border-radius: 10px;
  margin-right: 15px;
}

.profile .stats {
  background-color: white;
  border-radius: 10px;
  padding: 10px
}

.profile .stats div {
  display: flex;
  grid-column: span 4;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile .stats div p {
  font-size: 0.85em;
  color: #A5B1C1
}

.profile .stats div .stats-value {
  font-size: 1.1em;
  color: #393454;
  font-weight: bold;
}

.repo-item {
  grid-column: span 12;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.repo-item:last-child {
  margin-bottom: 20px;
}

.repo-item h3 {
  margin: 0;
  margin-bottom: 5px;
}

.repo-item .updated {
  color: #A5B1C1
}

.repo-item .language {
  margin-top: 15px;
}

.vl {
  width: 0;
  height: 90px;
  border-radius: 3px;
  margin-right: 20px;
}

.loading-wrapper, .err-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
}

.err-wrapper {
  grid-column: span 12;
}

@media screen and (min-width: 320px) {
  .profile {
    display: block;
  }

  .profile img {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 375px) {
  .profile {
    display: flex;
  }

  .profile img {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 620px) {
  .grid {
    gap: 20px;
  }

  .container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 700px;
  }

  .profile {
    padding: 50px 0;
  }

  .profile img {
    width: 120px;
    margin-right: 20px;
  }

  .repo-item {
    grid-column: span 6;
  }

  .repo-item:nth-last-child(2) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 960px) {
  body{
    font-size: 18px;
  }
  
  .container {
    max-width: 1000px;
  }

  .repo-item {
    grid-column: span 4;
  }

  .repo-item:nth-last-child(3) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}