body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* reset */
p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* fonts */
h1,h2,h3{
  margin: 10px 0;
}

p,a,li,input {
  line-height: 1.4em;
  font-size: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
  color: #393454;
}

h3 {
  font-size: 1.1em;
  color: #303030
}

/* style */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  box-sizing: border-box;
}

.container {
  height: 100%;
  margin: 0 20px;
}